# If you place a filed called '.yaralyzer' in your home dir or the current dir environment variables specified
# in that .yaralyzer file will be added to the environment each time yaralyzer is invoked.
#
# Almost all of yaralyzer's command line options can be permanently set by capitalizing them and
# prefixing them with 'YARALYZER_'. Useful if you want to permanently configure options you tend to
# reuse (e.g. '--maximize-width') so you don't have to type them over and over.
#
# To see the list of available environment variables run: yaralyze --env-vars


# For example, to set --maximize-width permanently you would create a .yaralyzer file and put this in it:
#    YARALYZER_MAXIMIZE_WIDTH=True
#
# Or to permanently set the --yara-stack-size option, you would add this to your .yaralyzer file:
#    YARALYZER_YARA_STACK_SIZE=250000


# Yaralyzer can also write logs of what it's doing if you set the YARALYZER_LOG_DIR env var, either in a
# .yaralyzer file or anywhere in normal environment. Yaralyzer logs are not normally written to a file;
# the standard behavior is to more or less discard them.
#
# Be aware that if you configure YARALYZER_LOG_DIR a few things will change:
#
#   1. Logs WILL NOT be written to STDOUT. They will stream ONLY to files in the configured directory.
#      This is true even with the --debug option.
#   2. The default log_level will be decreased from WARN (extremely spartan) to INFO (fairly verbose).
#      The --debug option, which sets the log level to DEBUG, will be respected whether or not
#      YARALYZER_LOG_DIR is configured.
#
#    YARALYZER_LOG_DIR=/path/to/yaralyzer/log_dir/
