[tool.poetry]
name = "yaralyzer"
version = "0.6.1"
description = "Visualize and force decode YARA and regex matches found in a file or byte stream. With colors. Lots of colors."
authors = ["Michel de Cryptadamus <michel@cryptadamus.com>"]
readme = "README.md"
license = "GPL-3.0-or-later"
homepage = "https://github.com/michelcrypt4d4mus/yaralyzer"
repository = "https://github.com/michelcrypt4d4mus/yaralyzer"
documentation = "https://github.com/michelcrypt4d4mus/yaralyzer"

keywords = [
    "ascii art",
    "binary",
    "character encoding",
    "color",
    "decode",
    "encoding",
    "malware",
    "malware analysis",
    "regex",
    "regular expressions",
    "reverse engineering",
    "threat assessment",
    "visualization",
    "yara"
]

classifiers = [
    "Topic :: Security",
    "Topic :: Scientific/Engineering :: Visualization",
]

include = [
    "CHANGELOG.md",
    ".yaralyzer.example"
]


[tool.poetry.dependencies]
python = "^3.9"
chardet = "^5.0.0"
#plyara = "^2.1.1"
python-dotenv = "^0.21.0"
rich = "^12.5.1"
rich-argparse-plus = "^0.3.1.1"
yara-python = "^4.2.3"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"


[tool.poetry.scripts]
yaralyze = 'yaralyzer:yaralyze'
yaralyzer_show_color_theme = 'yaralyzer.helpers.rich_text_helper:yaralyzer_show_color_theme'


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
