# This workflow will automatically build and deploy the documentation to GitHub Pages.
# Mildly out of date tutorial: https://sorokin.engineer/posts/en/github-pages-lazydocs-mkdocs.html

name: docs

on:
  push:
    branches: ["master"]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11 (lazydocs fails with greater versions)
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Set up poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: 1.6.1
      - name: View poetry --help
        run: poetry --help
      - name: Install dependencies
        run: |
          poetry install
      - name: Build and deploy documentation
        run: ./scripts/build_docs.sh
