# This workflow will automatically build and deploy the documentation to GitHub Pages.
# Mildly out of date tutorial: https://sorokin.engineer/posts/en/github-pages-lazydocs-mkdocs.html

name: docs

on:
  push:
    branches: ["master"]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11 (lazydocs fails with greater versions)
        uses: actions/setup-python@v3
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --group docs
      - name: Build and deploy documentation
        run: ./scripts/build_docs.sh
